<h1>Toastmaster CL Planner</h1>
<button *ngIf="!showingInstructions" (click)="showingInstructions = true">See Instructions</button>
<button *ngIf="showingInstructions" (click)="showingInstructions = false">Hide Instructions</button>
<div *ngIf="showingInstructions">
    From the dropdown below, select a role you would like to fill towards getting your CL and click "Add Role". This application will automatically suggest what CL project to get evaluated on for that role. Once all meeting role requirements are complete,
    the dropdown will go away. See the bottom of the page for additional CL requirements beyond meeting roles.
    <br/>
</div>

<table border="1">
    <thead>
        <tr>
            <th>Meeting Date</th>
            <th>Meeting Role</th>
            <th>Project</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let plannedRole of plannedRoles">
            <td></td>
            <td>{{plannedRole.role}}</td>
            <td>{{plannedRole.project}}</td>
        </tr>
    </tbody>
</table>

<br/>

<div *ngIf="roles.length > 0; else elseBlock">
    <select [(ngModel)]="selectedRole">
        <option *ngFor="let role of roles">{{role}}</option>
    </select>
    <button (click)="addRole(selectedRole)">Add Role</button>

</div>
<ng-template #elseBlock>
    <h3>All Required Meeting Roles Filled! See bottom of page for additional requirements.</h3>
</ng-template>

<h2>Above fulfills:</h2>
Timer role required for CL4: Time Management, plus:
<div *ngFor="let projectReq of projectRequirements">
    {{projectReq.project}}: {{projectReq.numFilled}} of {{projectReq.numNeeded}} roles needed.
</div>

<h2>Also must:</h2>

<li>Help Organize a speech contest, special event, membership campaign or contest, or PR campaign, help produce newsletter, or help with website for CL6: Organization and Delegation</li>

<li>Chair a Membership campaign or contest or PR campaign for {{CL8}}</li>

<li>Mentor new member or existing member, or serve on HPL committee for CL9: Mentoring</li>

<li *ngIf="!meetingRolesForCL10">Chair a speech contest, special event, membership campaign or contest, or PR campaign, edit a newsletter, or serve as webmaster for {{CL10}} OR <button (click)="doMeetingRolesForCL10()">Click here</button> to do Toastmaster + General Evaluator meeting
    roles instead</li>